.find-center{
	text-align: left;
	margin-left: 170px;
}
.find-center-1{
	margin: 20px 20px;
}
.find-center-1 p{
	display: inline-block;
	font-size: 14px;
	margin-right: 80px;
}
.find-center-1 .user-money span:nth-child(1){
	display: inline-block;
	width: 80px;
	text-align: center;
}
.find-center-1 .user-money span:nth-child(2){
	margin-left: 10px;
	cursor: pointer;
	font-size: 14px;
}
.find-center-1 .tixian a{
	color: #000;
}
.find-center-1 a:hover{
	opacity: 0.3;
}
.find-center-1 .common{
	width: 50px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
}
.find-center-1 .tixian{
	background-color: #efefef;
	padding: 4px 10px;
	border: 1px solid #e1e1e1;
}
.find-center-1 .chongz{
	background-color: #c00106;
	padding: 5px 10px;
}
.find-center-2{
	margin: 40px 25px;
	margin-bottom: 10px;
	border: 1px solid #e1e1e1;
}
.find-center-2-title p{
	cursor: pointer;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	width: 110px;
	height: 40px;
	border-right: 1px solid #e1e1e1;
}
.find-center-2-title p:nth-child(2){
	height: 39px;
	cursor: auto;
	width: 867px;
	border-bottom: 1px solid #e1e1e1;
	border-right: 0;
	font-size: 14px;
}
.find-center-2-title .addcolor1{
	border-top: 2px solid #e92f33;
}
.find-center-2-first{
	margin-left: 20px;
}
.find-center-2-action{
	margin: 40px;
}
.find-center-2-first form p{
	margin: 20px 0px;
}
.find-center-2 form p span{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 10px;
}
.find-center-2-first form p .right-photo{
	margin-bottom: -11px;
}
.find-center-2-first form p input{
	height: 30px;
	width: 230px;
}
.find-center-2-first form p .reset1{
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #e92f33;
	border: 2px solid #e92f33;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	margin-left: 30px;
}
.find-center-2 form button{
	height: 35px;
	width: 150px;
	font-size: 18px;
	background-color: #c40207;
	border: 1px solid #c40207;
	border-radius: 5px;
	color: #fff;
	margin-left: 110px;
	margin-bottom: 30px;
}
